*, *:before, *:after{
    box-sizing: border-box;
}
body { 
    margin-top: 2%;
    font-family: "Raleway","Aria","Yu Gothic",sans-serif;
}
.clock {
    text-align: center;
}
.weather_hourly, .weather_daily {
    text-align: center;
    font-size: 0.85rem;
}
.github_link {
    text-align: center;
    margin-top: 1.5rem;
}
a {
    color: #5c7a73;
    text-decoration: none;
}
a:hover, a:focus {
    color: #232e2b;
    text-decoration: underline;
}